name: Build Warrior Ascension APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        # دي النسخة الرسمية والمستقرة اللي هتحل مشكلة الـ chown
        uses: ArtemSBulgakov/buildozer-action@v1.6.1
        with:
          command: android debug
